html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 200px 0;
}

footer {
    position: absolute; 
    bottom: 0;
    width: 100%;
    height: 200px;
}

.global-form {
    padding: 5em;
    margin-top: 1em;
}

.navbar-brand {
    font-family: roboto;
    font-weight: 500;
    margin-left: 5rem;
    font-size: 2em;
}

.profile-img {
    width: 120px;
    height: 120px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 5em;
}

.btn-primary-submit {
    float: right;
}

nav {
    background-color: #3e3f3a;
}

.blue-grey.darken-1 {
    background-color: #f8f5f0 !important;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #f8f5f0;
}

nav {
    margin-right: 15rem;
}

.tabs .tab a {
    color: #00ACC1;
}

.tabs .tab a:hover,
.tabs .tab .active {
    color: #008B9B;
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
    color: rgba(102, 147, 153, 0.7);
}

.tabs .indicator {
    background-color: #009BAD;
}

.item-row {
    margin-top: 4em;
    margin-bottom: 4em;
}

.carousel {
    height: 60em !important;
}

.carousel.carousel-slider .carousel-item h2{
    margin:20rem;
    font-size: 10rem;
}

.carousel.carousel-slider .carousel-item p{
        font-size: 2rem;
}

.background-image{
    background-image: url("https://static.pexels.com/photos/32237/pexels-photo.jpg") !important;
}

.faq{
    padding-left:2em;
    
}
.faq h5{
    text-align:center;
    margin-top:1em;
    margin-bottom:1em;
    color:#1d7d74;
}

card a{
    color:#26a69a !important;
}
table thead tr th, table tbody tr td a{
     color:#846C63!important;
}
  html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 200px 0;
}

footer {
    position: absolute; 
    bottom: 0;
    width: 100%;
    height: 200px;
}

.global-form {
    padding: 5em;
    margin-top: 1em;
}

.navbar-brand {
    font-family: roboto;
    font-weight: 500;
    margin-left: 5rem;
    font-size: 2em;
}

.profile-img {
    width: 120px;
    height: 120px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 5em;
}

.btn-primary-submit {
    float: right;
}

nav {
    background-color: #3e3f3a;
}

.blue-grey.darken-1 {
    background-color: #f8f5f0 !important;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #f8f5f0;
}

nav {
    margin-right: 15rem;
}

.tabs .tab a {
    color: #00ACC1;
}

.tabs .tab a:hover,
.tabs .tab .active {
    color: #008B9B;
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
    color: rgba(102, 147, 153, 0.7);
}

.tabs .indicator {
    background-color: #009BAD;
}

.item-row {
    margin-top: 4em;
    margin-bottom: 4em;
}

.carousel {
    height: 60em !important;
}

.carousel.carousel-slider .carousel-item h2{
    margin:15rem;
    font-size: 8rem;
}

.carousel.carousel-slider .carousel-item p{
        font-size: 2.5rem;
}



.slide1:before,.slide2:before,.slide3:before,.slide4:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-size:cover;
  width: 100%;
  height: 100%;

   -webkit-filter: opacity(.8);
  filter: opacity(.8);
}
.slide1 h2,.slide2 h2,.slide3 h2,.slide4 h2 {
      font-family: Brush-Script-MT, Calibri, Trebuchet, sans-serif;
}
.slide1 p,.slide2 p,.slide3 p,.slide4 p {
      font-family: Brush-Script-MT, Calibri, Trebuchet, sans-serif;
}

.banner{
    height:5em;    
    -webkit-filter: opacity(.8);
    filter: opacity(.8);
    font-weight:bold;
    padding-top:2em;
    background: rgba(0,0,0,0.4);
    font-family: Brush-Script-MT, Calibri, Trebuchet, sans-serif;
    text-align:center;
}
.header{
      font-family: Brush-Script-MT, Calibri, Trebuchet, sans-serif;
      text-transform:uppercase;
      color:#846C63!important;
}
.dropdown-content li>a, .dropdown-content li>span{
    color:#846C63!important;
}
.card-title a{
     color:#846C63!important;
}

.button-floating-1{
    position: absolute;
    right: 5em;
    bottom: -20px;
}


.button-floating-2{
    position: absolute;
    right: 1em;
    bottom: -20px;
}

.topbarsearch{
        margin-right: 3em;
}

.price{
    float:right;
    font-weight:bold;
}

.slide1:before {
  background-image: url('https://static.pexels.com/photos/327064/pexels-photo-327064.jpeg');
}
.slide2:before {
  background-image: url('https://static.pexels.com/photos/378268/pexels-photo-378268.jpeg');
}
.slide3:before {
  background-image: url('https://static.pexels.com/photos/32237/pexels-photo.jpg');
}
.slide4:before {
  background-image: url('https://static.pexels.com/photos/6069/grass-lawn-green-wooden-6069.jpg');
}
.slide1,.slide2,.slide3,.slide4{
  background-color:white !important;
}

.footer-cr{
        overflow: hidden;
    align-items: center;
    padding: 6px 0px;
     color:#88AAA9!important;
    background-color: rgba(51, 51, 51, 0.08);
}
.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 300px; /* Changed this to accomodate content width */
  max-height: auto;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}
.brown-text{
  color:  #846C63!important
}

.brown-background{
  background-color:  #846C63!important
}
.more-row{
    margin-bottom:3em;
}

.grey-text.text-lighten-3{
    color:#88AAA9!important
}

.page-footer{
    text-align:center;
    background-color:rgba(189,177,173,0.1)!important;
}

.card .card-image img{
    height:19em;
}

.delete-button{
    color:red;
}

.input-quantity{
    width:5em !important;
}

.search{
    margin: 0 0 0 3em;
}

.recap{
    text-align: left;
}

.payment{
        padding-left:2em;
    
}
.payment h5{
    text-align:center;
    margin-top:1em;
    margin-bottom:1em;
    color:#1d7d74;
}

.payment .preloader-wrapper{
    text-align: center;
margin-left: auto;
margin-right: auto;
}

.orderfinished{
    color:#1d7d74;
    font-size:100px !important;
    display:none;
}
.bill-buttons{
    text-align: center;
}